// profile info
.profile-info {
  display: flex;
  align-items: center;
  .details {
    display: flex;
    flex-direction: column;
    font-weight: 300;
  }
  .name {
    font-size: 14px;
    cursor: pointer;
  }
  .email {
    font-size: 12px;
  }
  .avatar {
    width: 30px;
    height: 30px;
    // background-color: #fff;
    border-radius: 150rem;
    margin-right: 10px;
    object-position: center center;
    object-fit: cover;
  }
}
