$grey-light: #f6f5f3;
$grey-dark: #393f4d;
$green: #7dce94;
$green-blue: #6ed3cf;
$off-white: #f9f1f1;
$off-black: #2c2c2c;
$slate: #4b6777;
$slate-dark: #33363b;
$gold: #d1bfa7;
$gold-rose: #bd8c7d;
$red: #e0474c;

// shadow
$shadow: 0 0 10px rgba(0, 0, 0, 0.5);
